Day 003
---
- Conditional Statements
- Logical Operators
- Code Blocks
- Scope

In [31]:
# Conditional Statements

# if/else statememts

i = 0
if i == 0:
    print(True)
else:
 print(False)


# Water Tub
# If water level is above 80 remove 20 units, if not add 5 units
water_level = 50 
if water_level > 80:
    water_level -= 20
    print(water_level)
else:
    water_level += 5
    print(water_level)

# Rollercoaster
# Must be 120cm or higher to ride
print("\nWelcome to the rollercoaster!")
height = int(input("What is your height in cm? "))

if height >= 120:
    print("You can ride the rollercoaster")
else:
    print("Drink more milk, get out of the line.")

True
55

Welcome to the rollercoaster!

What is your height in cm?  120

You can ride the rollercoaster

In [43]:
# Logical Operators

# Assignment
a = 20

# Print True or False that a is equal to the int value of 20
print(a == 20)

# Print True or False that a IS NOT equal to the int value of 20
print(a != 20)

# Modulo Operator, returns remaining values after division
10 % 2
10 % 3

True
False

1

In [51]:
# Coding Challenge
# Check user number input if it is Odd or Even
num = int(input("Insert a number #: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Insert a number #:  34

Even

In [61]:
# Rollercoaster
# Must be 120cm or higher to ride
# 12 and under pay $5, 18 and under pay $7, and adults pay $12
print("\nWelcome to the rollercoaster!")
height = int(input("What is your height in cm? "))

if height >= 120:
    print("You can ride the rollercoaster")
    age = int(input("What is your age? "))
    total = 0
    # Nested if/else
    if age < 12:
        total += 5
    elif age <= 18:
        total += 7
    else:
        total += 12

    photo = input("Do you want your picture taken? (y/n)")
    if photo == "y":
        total += 3        
        
else:
    print("Drink more milk, get out of the line.")


print(f"Total $: {total}")

Welcome to the rollercoaster!

What is your height in cm?  144

You can ride the rollercoaster

What is your age?  24
Do you want your picture taken? (y/n) y

Total $: 15

In [11]:
# Code Blocks

In [13]:
# Scope