Day 002
---
Today we will be focusing on learning and implementing:
- Data Types
- Numbers
- Operations
- Type Conversions
- f-Strings

In [105]:
# Important data types as a variable
string1 = "Hello"
int1 = 23
float1 = 3.14159
boolean1 = True

# View a variables type by using the type() function
# Known as Type Checking
print(type(string1))
print(type(int1))
print(type(float1))
print(type(boolean1))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [107]:
# Print the first character of the string1 variable
print(string1[0])

H

In [109]:
# strings can never be used for mathmatical functions, numbers stored as string can only concatenate
a = "23"
b = "45"
print(a + b)

2345

In [111]:
# You can perform a conversion type to then transform the contents of a variable temporarily to perform mathmatical functions

# Addition
print(int(a) + int(b))

# Subtraction
print(int(a) - int(b))

# Multiplacation
print(int(a) * int(b))

# Division
print(int(a) / int(b))

68
-22
1035
0.5111111111111111

In [113]:
# Conversions are important when dealing with different data types

# Print the value of int1, it original data type, and print out the data type of a str conversion  
print("Contents and data type of int1")
print(int1)
print(type(int1))
      
print("\nString conversion on int1")
print(str(int1))
print(type(str(int1)))

print("\nContents and data type of boolean1")
print(boolean1)
print(type(boolean1))

print("\nString conversion of boolean1")
print(type(str(boolean1)))

Contents and data type of int1
23
<class 'int'>

String conversion on int1
23
<class 'str'>

Contents and data type of boolean1
True
<class 'bool'>

String conversion of boolean1
<class 'str'>

In [115]:
# Other conversion functions
print("True")
print(bool("True"))

print("12345")
print(int("12345"))

True
True
12345
12345

In [117]:
# Exercise Challenge
print("Number of letters in your name: " + str(len(input("Enter your name: "))))

Enter your name:  dyeadal

Number of letters in your name: 7

In [123]:
# Division will always return a float
a = 6
b = 3

print(a / b)

# This is implied, to return only an integer we can use the // operation instead

print(a // b)

# WARNING
# Using this on results that should return floats will instead return the rounded DOWN integer

a = 8
print(a / b)
print(a // b)

2.0
2
2.6666666666666665
2

In [125]:
# Exponential math operations
print(3 ** 2)

9

In [ ]:
# Math operations follow PEMDAS

# Parantheses first
print((3+2)*5)

# Exponents second
print()

# Multiplacation and Division third (left to right)
print()

# Addition and Subtraction last (left to right)
print()

In [131]:
# BMI calculator
weight = float(input("Weight: "))
height = float(input("Height in inches: "))
bmi = weight / (height ** 2) * 703
print("BMI score: " + str(bmi))

Weight:  180
Height in inches:  58

BMI score: 37.61593341260404

In [143]:
# Rounding number to the nearest integer
print(round(bmi))

# You can specify which number place to round too
print(round(bmi, 1))
print(round(bmi, 2))

38
37.6
37.62

In [147]:
# You can add values to an existing variable without calling on itself multiple times

a = 6
print(a)
a = a + 1
print(a)

b = 9
print(b)
b += 1
print(b)

6
7
9
10

In [151]:
# Conversion can be used to print out non-string variables
# Instead it is easier to use fstrings
a = 8
b = 4.3
c = "Hello"
d = True

# Single print line that did not convert our data types, much easier to type and read
print(f"Int: {a}\nFloat: {b}\nString: {c}\nBoolean: {d}")

Int: 8
Float: 4.3
String: Hello
Boolean: True